<blockquote> "In 1986, Wonder revoked the hotel licenses of the Slot sex
club and Animals bathhouse, on the grounds that their private 'rooms
are not being used for lodging . . . but for unsafe sexual activity.'" - <a href="http://hist123bathhousecontroversy.weebly.com/uploads/2/4/8/8/24889735/impact.pdf">-via</a> </blockquote>
<a href="http://collections.museumca.org/?q=collection-item/2006761"><img class="img-responsive img-bar center-block" src="images/animals/animals.png"/></a>

<a href="http://www.tumbex.com/tumblr/lustcupid/post/143932751242/perfectspecimens2-top-photo-corey-adams">Images from a porno shot at animals</a>