<p>
  http://www.grubstreet.com/2013/02/kok-bar-folsom-chaps-closing-driftwood.html

http://reelsf.com/reelsf/2016/3/7/the-laug
</p>
<p>From 1968 to 1983 it was the Ramrod. On two occasions after that, it was My Place
</p>

<blockquote>"The Ramrod is also quite popular at 1025 Folsom, and is a bikers paradise. If you like the smell of leather and the scent of man then the Ramrod should be your dish. They have movies almost every evening with a very special movie on Sunday afternoons. These are full-length feature movies." - <a href="http://voices.revealdigital.com/cgi-bin/independentvoices?a=d&d=BFBJFGD19770429.1.14&dliv=none&st=1&e=-------en-20--1--txt-txIN---------------1">Berkley Barb</a> </blockquote>