<p>Fe Be's existed from 1966 - 1986, one of the first SoMa leather bars.</p>
<a href="https://www.pinterest.com/pin/499829258621424786/"><img class="img-responsive img-bar pull-right" src="images/febes/david.jpg"/></a>

<p>Fe Be’s iconic sculpture “Leather David” by Mike Caffee was a modified Michelangelo.</p>

<blockquote>“I broke off the raised left arm and lowered it so his thumb could go in his pants pocket, giving him cruiser body language. The biker uniform was constructed of layers of wet plaster… . The folds and details of the clothing were carved, undercutting deeply so that the jacket would hang away from his body, exposing his well-developed chest. The pants were button Levis, worn over the boots, and he sported a bulging crotch you couldn’t miss… . Finally I carved a chain and bike run buttons on his [Harley] cap." - <a href="http://www.foundsf.org/index.php?title=Folsom_Street:_The_Miracle_Mile">via</a></blockquote>



<a href="https://www.facebook.com/photo.php?fbid=10151417420599867&set=a.10151417420359867.574914.688819866&type=3&theater"><img class="img-responsive img-bar center-block" src="images/febes/mike.jpg"/></a>


<blockquote><p>“Mike Caffee is best known for his sculpture of Michelangelo’s David as a leatherman, commissioned by Jack Haines in 1966 for his new leather bar, FeBe’s, at the corner of Folsom and 11th streets in San Francisco. </p>

<p>Caffee told me that the FeBe’s sculpture was actually the third version of the work. The first was a precursor that Bill Tellman created for The Detour, a short-lived leather bar at 888 McAllister St. in San Francisco; that version was a plaster David with a leatherman’s costume in sewn naugahyde fabric. </p>

<p>Author, porn writer and tattoo artist Samuel Steward (aka Phil Sparrow and Phil Andros) then commissioned Caffee to produce an entirely sculpted version — which Caffee said took a full year of work and represented David in a leather version of an SFPD motorcycle cop uniform.</p>

<p>The third version, produced for FeBe’s, showed David dressed in the motorcycle leathers popular with San Francisco leathermen in the mid-1960s. Caffee told me that the third version exists in several states, as the molds used for casting the plaster would eventually break. For each new set of molds, he would introduce small variations in the details of the sculpture.
</p>
<p>Caffee also told me that when Jack Haines had first told him the bar would be named FeBe’s, he had thought the name was Phoebe’s — and had looked up the origin and found an association with Phoebus Apollo. He therefore thinks of the sculpture not as David, but as a modern version of the Greek sun god.”</p>
<p><a href="https://www.facebook.com/photo.php?fbid=10151417420599867&set=a.10151417420359867.574914.688819866&type=3&theater">via</a></p>
</blockquote>
<p><a href="https://www.facebook.com/PreservingLGBTHistory/photos/a.253453408108453.59780.249083381878789/792345524219236/?type=3&theater">More info about Fe Be’s</a></p>