<blockquote>"Before the Castro, the action was further north, in Polk Gulch.  A classic example of early out-of-the-closet retailing was the now long-defunct Hard On Leather, an outlet which offered a diverse array of unique garments and exotic accessories." - Erik S. McMahon <cl citekey="hardon"></cl> </blockquote>
<a href="http://www.sfae.com/index.php?pg=302683&c=27"><img class="img-responsive img-bar center-block" src="images/hardon/sign.jpg"/></a>

<a href="https://www.flickr.com/photos/78428166@N00/110719062/sizes/l/in/photostream/"><img class="img-responsive img-bar center-block" src="images/hardon/store.jpg"/></a>
<a href="http://www.thefedoralounge.com/threads/hard-on-leather-vintage-brand.63153/"><img class="img-responsive img-bar center-block" src="images/hardon/hardonleatherlabel.jpg"/></a>
<a href="http://www.thefedoralounge.com/threads/hard-on-leather-vintage-brand.63153/"><img class="img-responsive img-bar center-block" src="images/hardon/hardleatherfront.jpg"/></a>

<citations citekeys="hardon"></citations>