<ul>
  <li>Warehouse 1982-1983 (Black Hole)</li>
  <li>Mister B's Ballroom 1976-1981</li>
</ul>
<p>Dates from (Archaeologies of Sexuality)</p>

<blockquote>" Mr. B’s Ballroom at 224 6th St., where you can meet the elite to eat or be eaten" - <a href="http://voices.revealdigital.com/cgi-bin/independentvoices?a=d&d=BFBJFGD19770429.1.14&dliv=none&st=1&e=-------en-20--1--txt-txIN---------------1">Berkley Barb</a></blockquote>

<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/1978_Gay_Crusader_No63_Sep6-27.pdf"><img class="img-responsive img-bar center-block" src="images/mrb/mrb.jpg"/></a>
<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/"><img class="img-responsive img-bar center-block" src="images/mrb/mrbad.png"/></a>