<p>Location History <cl citekey="sitessettlements"></cl></p>

<ul>
  <li>Warehouse 1982-1983 (Black Hole)</li>
  <li>Mister B's Ballroom 1976-1981</li>
</ul>

<blockquote>" Mr. B’s Ballroom at 224 6th St., where you can meet the elite to eat or be eaten" <cl citekey="berkleybarb"></cl></blockquote>

<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/1978_Gay_Crusader_No63_Sep6-27.pdf"><img class="img-responsive img-bar center-block" src="images/mrb/mrb.jpg"/></a>
<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/"><img class="img-responsive img-bar center-block" src="images/mrb/mrbad.png"/></a>
<citations citekeys="sitessettlements,berkleybarb"></citations>