<ul>
  <li>The Covered Wagon 1968-1976</li>
  <li>Leathernck 1977</li>
  <li>Dirty Sally's 1978</li>
  <li>San Francisco Plunge 1978-1980</li>
  <li>The Gold Coast 1981-1982</li>
  <li>Drummaster/Drummer Key Club 1982</li>
  <li>Dan's Compound 1983-1984 (also "the Compound")</li>
  <li>The Oasis 1984 - ??</li>
</ul>
<p>Dates from (Archaeologies of Sexuality)</p>


<p>"This location went through various incarnations including trying to combine pool with leather, but failed to take traction until it turned into Oasis with straight owners that actually promoted events, including aids benefits and lesbian DJs." -  <a href="http://ebar.com/bartab/bartabcolumns.php?sec=barchive&id=59">via</a></p>

<p>As leatherneck, it had a series of cartoons done for it Perils of Pecs O'Toole, of marine themed. The panels never got completed before the bar closed due to not being popular enough. <a href="http://ebar.com/bartab/article.php?sec=barchive&article=50">- via</a></p>

<p>"Trying for business synergy in 1980, and perhaps trying to triage Drummer fatiguing from the money sucked out of it by gouging printers and delinquent distributors, Embry leased the bar and famous swimming pool at 11th and Folsom, across the intersection from Fe-be’s, to open “The Drummer Key Club” and his “Studstore.” This bar and pool had been the hot-mobbed after-hours sex club, the Covered Wagon, which had an official fire department capacity of 170 people and after midnight rented SRO space to 300-400 men." <a href="http://www.jackfritscher.com/PDF/Drummer/Vol%204/Pioneers_Chapter_08_v5_2015_CS5_WEB.pdf">via</a></p>

<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/1978_Gay_Crusader_No63_Sep6-27.pdf"><img class="img-responsive img-bar pull-left" src="images/oasis/theplungead.png"/></a>
<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/1978_Gay_Crusader_No65_Oct18-Nov08.pdf"><img class="img-responsive img-bar pull-left" src="images/oasis/dirtysally.png"/></a>
<a href="http://digitalassets.lib.berkeley.edu/sfbagals/Gay_Pride_Crusader/1978_Gay_Crusader_No65_Oct18-Nov08.pdf"><img class="img-responsive img-bar pull-left" src="images/oasis/theplungead.png"/></a>