<h1>The Brig, The In Between, The No Name, The Bolt, <a href="http://www.powerhousebar.com/history/">The Powerhouse</a></h1>

<ul>
  <ll>"In Between" (1972 - 1972), named because it was between FeBe's and Ramrod
  <li>Cow Palce Saloon 1972</li>
  <li>The Phoenix 1973</ll>
  <li>No Name 1973-1976</p>
  <li>The Bolt 1976-79 </li>
  <li>The Brig 1979-85 (really popular)</li>
  <li>Powerhouse 1985-1991</li>
  <li>Powerhouse 1997 - open with new owners!</li>
</ul>

<p>During The Brig, Joe Taylor, the “Taylor of San Francisco,” sold his wares (<a href="http://ebar.com/bartab/article.php?sec=barchive&article=52">while his study was the apartment below Jim from Folsom Street Blues</a>). Drummer 18 has a guide to body casting that Joe Taylor wrote/produced. According to <a href="http://www.leatherati.com/2012/01/a-guest-editorial-review-by-guy-baldwinofthe-leathermans-protocol-handbooka-handbook-on-old-guard-rituals-traditio/">Guy Baldwin</a>, Joe Taylor's dungeon was also featured in Drummer – Joe is at the of biker photo, right most.</p>

<p>From a <a href="https://www.scribd.com/document/257572676/70s-Walking-Tour">Walking Tour of South Of Market in the 1970s</a>:
<blockquote>Ellis Chan, July 19, 1996: “The ﬁrst place I went to was the Brig. I walked in there. I didn’t have much leather on. Didn’t have chaps at the time. I didn’t have boots at the time. I did have a jacket. But I walked in there and I was absolutely terri-ﬁed because everyone was in leather, head to toe. And I was the only one who was wearing Levis and a regular shirt. I was the only one who was not in full leather and that was a time I was terriﬁed, visually, at what I was seeing, excited at the same time—tremendously excited … Oh, I stayed, and what happened was that my fears instantly vanished. I’m not exaggerating when I say that. The conversation that people were carrying on involved opera and poodles. Funny enough, the vibe hasn’t changed all too much in my opinion – anyone can come and converse about a variety of topics."</blockquote>
</p>

More links:
<ul>
  <li>https://www.pinterest.com/pin/499829258616804715/</li>
  <li>https://uk.pinterest.com/pin/444449056957789817/</li>
</ul>
