
<a href="http://ccp-emuseum.catnet.arizona.edu/view/objects/asitem/People@902/4720/displayDate-asc?t:state:flow=6d5b5196-e60f-4e0c-926e-bc9f2d4f09c7"><img class="img-responsive img-bar pull-right" src="images/redstar/wateringhole.jpg"/></a>

<ul>
  <li>1145 Saloon (1973) attached to Folsom Street Barracks</li>
  <li>Red Star Saloon (1973 - 1976)</li>
  <li>Site destroyed in 1981 Folsom Fire</li>
  <li>Waterhole (1984 - ??) -- moved from 6th Street</li>
</ul>
<p>(date sources: Archaeologies of Sexuality)</p>

<p>One of the bare chest men, Grant Dupont, was  Mr Watering hole 1991, his name appears on AIDS quilt.</p>

<a href="https://www.flickr.com/photos/glbthistory/2311903814">Check out this tapestry of the men at Red Star Saloon</a>

<a href="https://www.flickr.com/photos/glbthistory/2214226362/in/album-72157603779061234/"><img class="img-responsive img-bar center-block" src="images/redstar/ad.jpg"/></a>

<a href="http://www.unclecrickey.com/original-murals-san-francisco-bars-the-stud-red-star-chuck-arnett-mike-caffee"><img class="img-responsive img-bar center-block" src="images/redstar/redstar.jpg"/></a>
