
<h3>Dates <cl citekey="sitessettlements"></cl></h3>
<ul>
  <li>The Hula shack (1962-1967) lesbian bar</li>
  <li>Rama 1968-1969</li>
  <li>The 979 1970-1971</li>
  <li>The Lumberyard 1973-1975</li>
  <li>South of the Slot/The Slot 1976-1985</li>
  <li>Shiva Hotel</li>
</ul>

<p>Closed in the HIV closure of the bars</p>
<p>“The Slot, which was cheekily covered by a hotel license rather than a bath license was created ex nibilo to be a fisting palace"</p>

<citations citekeys="sitessettlements"></citations>