<p>Opened in 1976 as The Trading Post Emporium, renamed later to A Taste of Leather <a href="https://www.hitpages.com/doc/6684543218089984/31">(which originally was above FeBe's)</a></p>
  <blockquote>"Nick O’Demas is usually in the loft after 10 p.m. or you can Find him at the Trading Post Emporium, a most unusual store at 960 Folsom St. This is a complete leather & jock shoppe for men and they sell everything from boots to buckles. They have a complete Adult Book department and 25 movies in their Big Dong Room. The shoppe is a turn on from the moment you enter. They even have a few grocery items like Crisco."- <a href="http://voices.revealdigital.com/cgi-bin/independentvoices?a=d&d=BFBJFGD19770429.1.14&dliv=none&st=1&e=-------en-20--1--txt-txIN---------------1">Berkley Barb</a></blockquote>
<blockquote>>1976, June  SM Dungeon Devices, an illustrated catalog of SM toys is  published by The Trading Post in San Francisco - <a href="https://www.hitpages.com/doc/6684543218089984/31">via</a></blockquote>

<a href="https://exploresf.wordpress.com/tag/folsom-street/">Went through many moves: 1501 Folsom, 960 Folsom, 336 Sixth Street, 317 Tenth Street, 1285 Folsom Street (also Mack)</a>


<a href="https://twitter.com/MineshaftBerlin/status/754103981480128512"><img class="img-responsive img-bar center-block" src="images/taste/ad.jpg"/></a>

<a href="http://www.ebay.com/itm/A-TASTE-OF-LEATHER-FOLSOM-ST-San-Francisco-BLACK-Leather-CHAPS-Pants-LANGLITZ-/221508212763"><img class="img-responsive img-bar center-block" src="images/taste/chaps.gif"/></a>
<a href="http://www.ebay.com/itm/A-TASTE-OF-LEATHER-FOLSOM-ST-San-Francisco-BLACK-Leather-CHAPS-Pants-LANGLITZ-/221508212763"><img class="img-responsive img-bar center-block" src="images/taste/chaps2.gif"/></a>
