<div>
<ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
  <ui-gmap-markers models="map.bars" coords="'self'" icon="'icon'" events="map.markersEvents">
  </ui-gmap-markers>
  <ui-gmap-marker
        idKey='-1'
        coords='map.userlocation'
        options='map.userLocationOptions'
        ng-if="map.userlocation">
  </ui-gmap-marker>
  <ui-gmap-polyline path='map.route' static="true"
        >
  </ui-gmap-polyline>
</ui-gmap-google-map>
<ul class="nav nav-pills" ng-class="{'nav-stacked': displayList}">
  <li role="presentation" ng-repeat="bar in map.bars" ng-class="{active: activetab == bar.url}">
  <a ng-href="#{{bar.url}}"><img ng-src="{{bar.icon}}" class="map-list-icon"> {{bar.title}}</a></li>
</ul>
</div>